<ul class="flex md:justify-between md:justify-start gap-6 text-sm text-white hover:[&_a]:opacity-50">
    <li>
      <a target="_blank" data-external-link="text-only" rel="noopener noreferrer" href="https://www.github.com/rodnye/decidimos-website">
        <div class="flex flex-row items-center">
          <%= icon "github-fill", class: "w-12 h-12 fill-current", "aria-label": "GitHub" %>
          <span class="text-white ml-1 text-xl"> Github </span>
        </div>
      </a>
    </li>
</ul>
